<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <title>TODOs App</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
        <h1>TODOs<%= %q{<a href="/todos/new" class="btn btn-lg btn-primary pull-right" role="button">New</a>} if index %></h1>
        <%= yield %>
      </div>
    </div>
  </div>
</body>

</html>
